p {
    font-size: 1em;
}

#datautstyr {
    position: absolute;
    left: 30%;
    top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em; 
}

#datamaskiner {
    position: absolute;
    left: 1%;
    top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.sum {
    position: absolute;
    bottom: 10%;
    left: 1%;
}

#kjop {
    position: absolute;
    left: 70%; 
    top: 15%;  
}

#main {
    position: absolute;
    left: 70%;
    top: 7%;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.søk {
    position: absolute;
    left: 75.5%;
    top: 35%;
    z-index: 5;
}

article {
    font-size: 1.1em;
    padding: 2em;
    z-index: 4;
    position: absolute;
    left: 73%;
    top: 42%;

}

#liste {
    width: 15vw;
    min-height: 35vh;
    border: 3px solid lightgreen;
    padding: 1em;
}

.kunde {
  background-color: gray;
}