@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 40%;
  margin: auto;
  top: 30%;
  right: 10%;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid lightgreen;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.searchButton {
  position: absolute;  
  width: 40px;
  height: 36px;
  border: 1px solid lightgreen;
  background: lightgreen;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  margin: auto;
  width: 50%;
  position: absolute;
  top: 37%;
  right: 20%;
  transform: translate(-50%, -50%);
}