@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 40%;
  margin: auto;
  top: 30%;
  right: 10%;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid lightgreen;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 0.5em;
}

.searchTerm:focus{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
}

.searchButton {
  position: absolute; 
  right: 28%; 
  width: 45px;
  height: 45px;
  border: 1px solid lightgreen;
  background: lightgreen;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  margin: auto;
  width: 50%;
  height: 20%;
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translate(-50%, -50%);
}